
<main>

<section id="landing" class="homeSlide">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#landing">
    <div class="hsContainer">
      <div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 1" data-anchor-target="#landing h1">
        <p class="welcome">Welcome to the official site of</p>
        <h1>CHAMP</h1>
        <p>Simplicity is the soul of efficiency and a source of reliability</p>
        <p class="get-to-know profile-menu"><a class="btn" href="#">get to know more</a></p>
      </div>
    </div>
  </div>
</section>

<section id="profile">
  <div class="bcg" data-0="background-color:rgb(255,255,255);" data-top="background-color:(255,255,255);"  data-anchor-target="#profile">
    <div class="hsContainer">
      <div class="hsContent">
        <h2 data-center="opacity: 1" data--200-bottom="opacity: 1" data-206-top="opacity: 1" data-106-top="opacity: 1" data-anchor-target="#profile h2">DESIGN <> IMPLEMENT <> TEST</h2>
        <p data-center="opacity: 1" data--200-bottom="opacity: 1" data-206-top="opacity: 1" data-106-top="opacity: 1" data-anchor-target="#profile h2">I believe in producing innovative product that fuels engagement between customer and their audiences. My passions are coding & technology, and I want to utilize them to create genuine experiences for the web.</p>
      </div>
    </div>
  </div>
</section>
<section id="profile-photo" class="homeSlide">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -500px;" data-anchor-target="#profile-photo">
    <div class="hsContainer">
      <div class="hsContent">
        <div class="plaxEl"  data-center="opacity: 0.5" data-106-top="opacity: 0"  data-anchor-target="#profile-photo">
          <p><a href="https://www.facebook.com/sitthipol/photos" target="_blank">Photo by Sitthipol Rujirawat</a></p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="experience">
  <div class="bcg" data-0="background-color:rgb(0,0,0);" data-top="background-color:(0,0,0);"  data-anchor-target="#experience">

    <div class="hsContainer">
      <div class="hsContent">
        <h2 data-center="opacity: 1" data--600-bottom="opacity: 1" data-606-top="opacity: 1" data-606-top="opacity: 0" data-anchor-target="#experience h2">EXPERIENCE.PY</h2>
        <div data-center="opacity: 1" data--600-bottom="opacity: 1" data-606-top="opacity: 1" data-606-top="opacity: 0" data-anchor-target="#experience h2">
          <p>#!/usr/bin/env python</p>
          <p>import os</p>
          <p>import sys</p>
          <p>if __name__ == "__main__":</p>
          <p class="indent">os.environ.setdefault("DJANGO_SETTINGS_MODULE", "champ_django.settings")</p>
          <p class="indent">from django.core.management import execute_from_command_line</p>
          <p class="indent">print <span>"8-year working experience in the IT industry"</span></p>
          <p class="indent">print <span>"Strong programming in Python with 5-year experience"</span></p>
          <p class="indent">print <span>"5-year working experience in Data Warehousing and performance tuning"</span></p>
          <p class="indent">print <span>"Expertise in web full stack (Front-end and Back-end), cloud computing on AWS"</span></p>
          <p class="indent">print <span>"Familiar with API, SDK development"</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>

<section id="contact" class="homeSlide homeSlideTall2">
  <div class="bcg">
    &nbsp;
  </div>
  <div class="bcg bcg2" data-bottom-top="opacity: 0;" data--33p-top="opacity: 0;" data--66p-top="opacity: 1;" data-anchor-target="#contact">
    <div class="hsContainer">
      <div class="hsContent" data-bottom-top="opacity: 0;" data-center="opacity: 1" data-anchor-target="#contact">
      </div>
    </div>
  </div>
  <div class="bcg bcg3" data-300-bottom="opacity: 0;" data-100-bottom="opacity: 1;" data-anchor-target="#contact">
    <div class="hsContainer">
      <div class="hsContent" data-100-bottom="opacity: 0;" data-bottom="opacity: 1;" data-anchor-target="#contact">
        <h2>CONTACT</h2>
        <p>Not enough info? Would like to know more about me? Interested in giving a try?</p>
        <p>Hit me up at <a class="mail" href="mailto:pk.somsuk@gmail.com" target="_blank">pk.somsuk@gmail.com</a></p>
        <div class="row social">
          <div class="col-xs-3">
            <a class="twitter" href="https://twitter.com/champ149" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
          </div>
          <div class="col-xs-3">
            <a class="linkedin" href="http://www.linkedin.com/pub/peerakit-somsuk/20/a03/866" target="_blank"><i class="fa fa-linkedin fa-4x"></i></a>
          </div>
          <div class="col-xs-3">
            <a class="tumblr" href="http://champ149.tumblr.com" target="_blank"><i class="fa fa-tumblr fa-4x"></i></a>
          </div>
          <div class="col-xs-3">
            <a class="github" href="https://github.com/champs" target="_blank"><i class="fa fa-github fa-4x"></i></a>
          </div>
        </div>
        <div class="row resume">
          <div class="col-xs-12">
            <a class="btn" target="_blank" href="/assets/doc/peerakit_somsuk_cv.pdf">download resume</a>
          </div>
        </div>
        <p class="copyright">Copyright © 2014 Peerakit Somsuk - Simplicity is the soul of efficiency and a source of reliability</p>
      </div>
    </div>
  </div>
</section>

</main>

